doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div(class="row")
        div(class="nav navbar navbar-default")
          div(class="navbar-header")
            a(class="navbar-brand") Library Application
    div(class="row")
      div(class="container")

    block content
